<h1> App Component </h1>

<hr>

<app-hero-list></app-hero-list>

<hr>
<!-- The "counter" is a property of the counter.component.ts [ ] 
    The @input annotation is required to use the property annotation 
    Here we set the default value of counter to 10. The 'value' in the 
    app.component.ts takes precedence over the counter.component.ts-->

<!-- The event binding "onValueChanged" is a method/function in the 
    counter component that is annotated @Output. 
    It's value is fired into the app component method called 
    "valueChanged" by passing the "($event)" to get the function obj-->
<app-counter [counter]="value" (onValueChanged)="valueChange($event)"></app-counter>
<!-- Require an @output annotation in the counter component so that the 
    counter value can be taken out of the counter component -->
<h3> List of counter values </h3>

<ul *ngIf="historicalValue.length > 0; else noData">
    <li *ngFor="let value of historicalValue; let i = index">
        {{ i + 1 }}. {{ value }}
      <button type="button" (click) = "deleteValue(i)">X</button>
    </li>
</ul>

<ng-template #noData>
    <h2>No Data</h2>
  </ng-template>